{%- assign src_value = src | default: '' | strip -%}
{%- assign width_value = w | default: width -%}
{%- assign height_value = h | default: height -%}
{%- assign quality_value = q | default: 70 -%}
{%- assign fit_value = fit -%}
{%- assign format_value = fm -%}
{%- assign is_local_asset = src_value | slice: 0, 15 -%}
{%- assign file_ext = src_value | split: '.' | last | downcase -%}
{%- assign can_transform = false -%}
{%- if netlify_image_cdn_enabled and is_local_asset == "/assets/images/" and file_ext != "svg" -%}
  {%- assign can_transform = true -%}
{%- endif -%}
{%- if can_transform -%}
  {%- capture image_url -%}/.netlify/images?url={{ src_value | url_encode }}{%- if width_value -%}&w={{ width_value }}{%- endif -%}{%- if height_value -%}&h={{ height_value }}{%- endif -%}{%- if fit_value -%}&fit={{ fit_value }}{%- endif -%}{%- if quality_value -%}&q={{ quality_value }}{%- endif -%}{%- if format_value -%}&fm={{ format_value }}{%- endif -%}{%- endcapture -%}
  {{- image_url | strip -}}
{%- else -%}
  {{- src_value -}}
{%- endif -%}
