---
layout: default
---
{%- assign author = site.data.authors[page.author_id] -%}
{%- assign author_posts = site.posts | where_exp: "post", "post.author == page.author_id or post.authors contains page.author_id" -%}

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="page__info">
          <h1 class="page__title">{{- author.name -}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <article class="page">
    <div class="page__content">
      {% if author.image %}
        {%- capture author_image_cdn -%}{% include snippets/netlify_image_url.html src=author.image w=320 %}{%- endcapture -%}
      <p>
        <img src="{{ author_image_cdn | strip }}" alt="{{ author.name | escape }}" width="160" height="160" data-original-src="{{ author.image }}">
      </p>
      {% endif %}
      <p>{{ author.bio | default: "Autor bei syndikat.golf und Mitglied des Disc Golf Syndikat Koeln." }}</p>
      {% if author.same_as %}
      <ul>
        {% for url in author.same_as %}
        <li><a href="{{ url }}" rel="me noopener">{{ url }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </article>
</div>

{% if author_posts.size > 0 %}
<div class="container">
  <div class="row animate">
    <div class="col col-12">
      <div class="section__head">
        <h2 class="section__title">Artikel von {{ author.name }}</h2>
      </div>

      <div class="row animate">
        {% for post in author_posts %}
          {% include components/post_card.html item=post %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
