<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <div class="hero__left">
            <h1 class="hero__title">Hey, wir sind das Syndikat</h1>
            <p class="hero__description">{{- site.description | escape -}}</p>
            <div class="hero__subscribe">
              <button class="button button--primary button--icon" id="btn-discord" type="submit" onclick="window.open('\/\/discord.gg\/bus8ZcaNFT')">
                {% include snippets/logo-discord.html %}
                Join Discord
              </button>
              <a href="/membership/" class="button" id="btn-membership" type="submit">Mitglied werden</a>
            </div>
          </div>
          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy" data-src="/assets/images/hero.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>