<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <div class="hero__left">
            <h1 class="hero__title">Hey, wir sind das Syndikat</h1>
            <p class="hero__description">{{- site.description | escape -}}</p>
            <div class="hero__subscribe">
              <button class="button button--primary button--icon plausible-event-name=discord_click" id="btn-discord" type="submit" onclick="window.open('\/\/discord.gg\/bus8ZcaNFT');">
                {% include snippets/logo-discord.html %}
                Discord beitreten
              </button>
              <a href="/register/" class="button plausible-event-name=member_click" id="btn-membership">Mitglied werden</a>
            </div>
          </div>
          <div class="hero__right">
            <div class="hero__image">
              <img src="/assets/images/hero.jpg"
                srcset="
                  /assets/images/hero_w_200.jpg 200w,
                  /assets/images/hero_w_470.jpg 470w,
                  /assets/images/hero_w_762.jpg 762w,
                  /assets/images/hero_w_1020.jpg 1020w,
                  /assets/images/hero_w_1136.jpg 1136w,
                  /assets/images/hero_w_1200.jpg 1200w"
                sizes="(max-width: 1200px) 100vw, 1200px"
                alt="Discgolfscheiben in einem Rucksack"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>