<div class="article col col-4 col-d-6 col-t-12">
  <div class="article__inner">
    <div class="article__head">
      {%- if include.item.date -%}
        <time class="article__date" datetime="{{- include.item.date -}}">
          {{- include.item.date | date_to_string -}}
        </time>
      {%- endif -%}
      {%- if include.item.video -%}
        <div class="video-icon">
          <div class="circle pulse"></div>
          <div class="circle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
              <polygon points="40,30 65,50 40,70"></polygon>
            </svg>
          </div>
        </div>
      {%- endif -%}
      {%- capture card_original_image -%}{%- if include.item.thumbnail -%}{{- include.item.thumbnail -}}{%- elsif include.item.image -%}{{- include.item.image -}}{%- else -%}{%- include snippets/transparent_pixel.html -%}{%- endif -%}{%- endcapture -%}
      {%- capture card_cdn_image -%}{% include snippets/netlify_image_url.html src=card_original_image w=700 %}{%- endcapture -%}
      {%- capture card_srcset -%}{% include snippets/netlify_srcset.html src=card_original_image widths="240,320,480,640,800" %}{%- endcapture -%}
      <a class="article__image" href="{{- include.item.url -}}">
        <img width="350" height="233"{% if include.lazy == "false" %} class="lazy" data-{% endif %}src="{{ card_cdn_image | strip }}" {% if include.lazy == "false" %}data-{% endif %}srcset="{{ card_srcset | strip }}" {% if include.lazy == "false" %}data-{% endif %}sizes="(min-width: 1141px) 348px, (min-width: 1025px) 301px, (min-width: 769px) 338px, (min-width: 577px) 528px, calc(100vw - 40px)" data-original-src="{{ card_original_image | strip }}" alt="{{- include.item.title | escape -}}">
      </a>
    </div>
    <div class="article__content">
      <h2 class="article__title">
        <a href="{{- include.item.url -}}">
          {{- include.item.title -}}
        </a>
      </h2>
      {%- if include.item.excerpt -%}
        <p class="article__excerpt">{{- include.item.excerpt | strip_html | slice: 0, 92 -}} …</p>
      {%- endif -%}
    </div>
  </div>
</div>
