<section class="section section-tags">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h3 class="section__title">Tags</h3>
          <a href="/tags/" class="section__link">Alle ansehen</a>
        </div>
        <div class="row">
          {%- for tag in site.tags reversed -%}
            {%- capture tag_image -%}
              {%- for post in tag[1] limit: 1 -%}
                {%- if post.thumbnail -%}
                  {{- post.thumbnail -}}
                {%- else -%}
                  {{- post.image -}}
                {%- endif -%}
              {%- endfor -%}
            {%- endcapture -%}
            <div class="col col-3 col-d-6 col-m-12">
              <a href="/tags#{{- tag[0] | downcase -}}" class="tag-image">
                <span class="tag-name">{{- tag[0] -}}</span>
                <img class="lazy" data-src="{{- tag_image -}}" alt="{{- tag[0] -}}">
              </a>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>