<section class="section section-tags">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h3 class="section__title">Tools</h3>
        </div>
        <div class="row">
          {%- for item in site.data.tools reversed -%}
            {%- capture tool_image -%}
              {%- if item.thumbnail -%}
                {{- item.thumbnail -}}
              {%- else -%}
                {{- item.image -}}
              {%- endif -%}
            {%- endcapture -%}
            <div class="col col-3 col-d-6 col-m-12">
              <a href="{{ item.url }}" class="tag-image">
                <span class="tag-name">{{- item.title -}}</span>
                <img loading="lazy" src="/assets/images/{{- tool_image -}}" alt="{{- item.title -}}">
              </a>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>