---
layout: default
---

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="page__info">
          <h1 class="page__title">{{- page.title -}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="page">
    <div class="page__content">
      <div>
        {{ content }}
      </div>

      <div class="bag-tags-wrapper">
        <table>
          <thead>
            <tr>
              <th>Rang</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/bag-tags.js" defer></script>
