<!DOCTYPE html>
<html lang="de">
{% include snippets/head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K736SLM"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include components/header.html %}
  {% include snippets/search.html %}

  <main class="content" aria-label="Content">
    {{ content }}
  </main>

  {% include components/footer.html %}
  <script src="/assets/js/scripts.js"></script>
  <script src="/assets/js/common.js"></script>
</body>

</html>