---
layout: default
---
<div class="post-head">
  <div class="container">
    <div class="row">
      <div class="col col-{% if page.video %}12{% else %}6 col-d-12{% endif %}">
        {% if page.video %}
          <div class="post-video">
            <div class="post-video__wrap">
              <iframe src="https://www.youtube.com/embed/{{ page.video }}" loading="lazy" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        {% else %}
          {%- capture post_image_cdn -%}{% include snippets/netlify_image_url.html src=page.image w=1200 %}{%- endcapture -%}
          {%- capture post_image_srcset -%}{% include snippets/netlify_srcset.html src=page.image widths="480,720,960,1200" %}{%- endcapture -%}
          <div class="post-image">
            <img src="{% include snippets/transparent_pixel.html %}" data-src="{{ post_image_cdn | strip }}" data-srcset="{{ post_image_srcset | strip }}" data-sizes="(min-width: 1140px) 538px, (min-width: 1025px) calc(50vw - 32px), (min-width: 769px) 708px, calc(100vw - 40px)" data-original-src="{{ page.image }}" alt="{{ page.title | escape }}" class="lazy">
          </div>
        {% endif %}
      </div>
      <div class="col col-{% if page.video %}12{% else %}6 col-d-12{% endif %}">
        <div class="post__info{% if page.video %} post__info-video{% endif %}">
          <div class="post__tags">
            {% for tag in page.tags %}
              <span class="post__tag">{{ tag }}</span>
            {% endfor %}
          </div>
          <h1 class="post__title">{{ page.title }}</h1>
          {% assign authors = page.authors %}
          {% if page.author %}
            {% assign authors = page.author %}
          {% endif %}
          <div class="post__meta">
            {% for item in authors %}
              {%- assign author = site.data.authors[item] -%}
              {%- capture author_image_cdn -%}{% include snippets/netlify_image_url.html src=author.image w=120 %}{%- endcapture -%}
              <span class="post__author-image">
                <img src="{%- include snippets/transparent_pixel.html -%}" class="lazy" alt="{{- author.name -}}" data-src="{{ author_image_cdn | strip }}" data-original-src="{{- author.image -}}">
              </span>

              <div class="post__meta-bottom">
                {% if author.url %}
                  <a href="{{ author.url }}" rel="author" class="post__author">{{- author.name -}}</a>
                {% elsif author.twitter %}
                  <a href="//twitter.com/{{- author.twitter -}}" rel="author" class="post__author">{{- author.name -}}</a>
                {% else %}
                  <span class="post__author author">{{- author.name -}}</span>
                {% endif %}
                {% if forloop.first %}
                  {% capture i18n_date %}
                    {{ page.date | date: "%-d" | append: "." }}
                    {% assign m = page.date | date: "%-m" | minus: 1 %}
                    {{ site.data.de.months[m] }}
                    {{ page.date | date: "%Y" }}
                  {% endcapture %}
                  <time class="post__date" datetime="{{- page.date -}}">{{- i18n_date -}}</time>
                {% else %}
                  <span class="post__date">Co-Autor</span>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <article class="post">
    <div class="post__content">{{ content }}</div>
    {% include components/post_share.html %}
  </article>
</div>
