---
layout: default
---

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="page__info">
          <h1 class="page__title">{{- page.title -}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container page page-full-width">
  <div class="row">
    <div class="col col-12">
      <div>
        {{ content }}
      </div>

      <div id="product-search-app"></div>
    </div>
  </div>
</div>

<div class="overlay hide"></div>
<script src="/assets/js/bag-tags.js" defer></script>