{%- capture sharing_image -%}
  {%- if page.image -%}
    {{- page.image -}}
  {%- else -%}
    {{- site.sharing_image | absolute_url -}}
  {%- endif -%}
{%- endcapture -%}

<head>
    {% include snippets/tagmanager.html %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &ndash; {{ site.title }}</title>
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="syndikat.golf" href="/feed.xml">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="{{- sharing_image -}}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} &ndash; {% endif %}{{ site.title }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} &ndash; {% endif %}{{ site.title }}">
    {% if page.excerpt %}
      <meta property="og:description" content="{{- page.excerpt | strip_html | escape -}}">
      <meta name="twitter:description" content="{{ site.description | escape }}">
      <meta name="description" content="{{ site.description | escape }}">
    {% else %}
      <meta property="og:description" content="{{- site.description | escape -}}">
      <meta name="twitter:description" content="{{ site.description | escape }}">
      <meta name="description" content="{{ site.description | escape }}">
    {% endif %}
    <meta property="og:image" content="{{- sharing_image -}}">
    <link rel="icon" href="/assets/favicon.png" sizes="any"><!-- 32×32 -->
    {% if page.layout == 'index' %}
      <link rel="preload" fetchpriority="high" href="/assets/images/hero.jpg" as="image" type="image/jpg">
    {% endif %}
    <link href="/assets/fonts/Jost.css" rel="stylesheet">
    <link href="/assets/css/ionicons.min.css" rel="stylesheet">
    <script>
      const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
      const sessionTheme = sessionStorage.getItem("theme");

      if (!sessionTheme && prefersDark || sessionTheme === 'dark') {
        document.documentElement.setAttribute("dark", "");
      }
    </script>

    {% if page.layout == 'dice-game' %}
    <script src="/assets/js/dice-game.js" defer></script>
    {% elsif page.layout == 'tournaments-map' %}
    <link href="/assets/css/vendors/leaflet.css" rel="stylesheet">
    <link href="/assets/css/vendors/MarkerCluster.css" rel="stylesheet">
    <link href="/assets/css/vendors/MarkerCluster.Default.css" rel="stylesheet">
    <link href="/assets/css/vendors/leaflet.resetview.css" rel="stylesheet">

    <script src="/assets/js/vendors/leaflet.js" defer></script>
    <script src="/assets/js/vendors/leaflet.markercluster.js" defer></script>
    <script src="/assets/js/vendors/leaflet.resetview.js" defer></script>
    <script src="/assets/js/tournaments-map.js" defer></script>
    {% endif %}
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>