<!-- Google Tag Manager -->
<script>
  (function (w, d, l, i) {
    w[l] = w[l] || [];

    var loaded = false;
    var interactionEvents = ["pointerdown", "keydown", "touchstart", "scroll"];

    function removeInteractionListeners() {
      interactionEvents.forEach(function (eventName) {
        w.removeEventListener(eventName, loadTagManager, { passive: true });
      });
    }

    function loadTagManager() {
      if (loaded) return;
      loaded = true;
      removeInteractionListeners();

      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName("script")[0];
      var j = d.createElement("script");
      var dl = l !== "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    }

    interactionEvents.forEach(function (eventName) {
      w.addEventListener(eventName, loadTagManager, { passive: true, once: true });
    });

    if ("requestIdleCallback" in w) {
      w.requestIdleCallback(loadTagManager, { timeout: 5000 });
    } else {
      w.setTimeout(loadTagManager, 5000);
    }
  })(window, document, "dataLayer", "GTM-K736SLM");
</script>
<!-- End Google Tag Manager -->
